# ImageKit.io Credentials
IMAGEKIT_URL_ENDPOINT=https://imagekit.io
IMAGEKIT_PUBLIC_KEY=public_syL9K8pibxL6zZLyFnzRu+UuuC0=
IMAGEKIT_PRIVATE_KEY=private_U4Ivp388hDU1TabcpKpMxu8+59U=

# Server Port
PORT=3001
